body {
    background: #FCFCFC;
}

/* --- Navigation bar with logo --- */
.navbar-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    border: 1px black solid;
    align-items: center;

    padding: 39px 140px 32px 140px;
}

.navbar-logo-flex-container {
    border: 1px black solid;
    display: flex;
    /*flex-basis: auto;*/
    justify-content: left;
}
.navbar-menu-flex-container {
    border: 1px black solid;;
    display: flex;
    flex-flow: wrap;
    flex-basis: auto;
    justify-content: right;
    align-items: flex-end;
    padding-top: 10px;
}

.navbar-logo-flex-item {
    flex-shrink: 1;
    width: 300px;
}

.navbar-button-flex-item {
    text-align: center;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 25px;


    cursor: pointer;
}
.navbar-button-middle {
    margin-left: 22px;
    margin-right: 22px;
}

/* --- Menu buttons --- */
a.menu-button:link, a.menu-button:visited {
    color: black;
    text-decoration: none;
}
a.menu-button:hover, a.menu-button:active {
    color: #156E7A;
    text-decoration: none;
}
a.menu-button-kontakt:link, a.menu-button-kontakt:visited {
    color: #C99C54;
    text-decoration: none;
}
a.menu-button-kontakt:hover, a.menu-button-kontakt:active {
    color: #156E7A;
    text-decoration: none;
}

/* --- Parallax --- */
.parallax-window {
    min-height: 900px;
    background: transparent;
}
.parallax-window-narrow {
    min-height: 300px;
    background: transparent;
}

/* --- Black box --- */
.black-flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    max-width: 764px;
    padding: 100px 0 100px 140px;
    min-height: 560px;

    background: rgba(0, 0, 0, 0.7);
    border: 1px white solid;
    position: relative;
    top: 171px;
}
.black-flex-item {
    border: 1px white solid;
    max-width: 530px;
}

/* --- Text --- */
.text-title {
    text-align: left;
    font-family: "Segoe UI, Bold", "Arial", sans-serif;
    color: black;
    line-height: 67px;
}

p.text-plain {
    text-align: left;
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 23px;
    color: black;
    line-height: 31px;
}
p.text-plain-white {
    font-size: 25px;
    color: white;
}


h1 {
    font-size: 50px;
    font-weight: bold;
}
h2 {
    font-size: 38px;
    font-weight: bold;

    margin-left: 140px;
    margin-bottom: 35px;
}
h3 {
    font-size: 32px;
    font-family: "Source Serif Pro", "Arial", serif;
    color: black;
    line-height: 40px;

    margin-top: 100px;
    margin-left: 140px;
    margin-bottom: 35px;
}
h4 {
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 30px;
}


/* --- Colors --- */
.color-gold {
    color: #C99C54;;
}
.color-white {
    color: white;
}
.color-gray-light {
    color: #BFBFBF;
}
.color-gray {
    color: #97999B;
}
.color-gray-darker {
    color: #8C8C8C;
}


/* --- Gold button --- */
.button-gold {
    text-align: center;
    padding: 6px 27px 11px;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 25px;
    color: white;

    background: #C99C54;
    border-radius: 10px;
    cursor: pointer;
}
.button-gold-flex-containter {
    border: 1px black solid;
    text-align: center;
    height: 260px;
    padding-top: 101px;
}

a.menu-button-gold:link, a.menu-button-gold:visited {
    color: white;
    text-decoration: none;
}
a.menu-button-gold:hover, a.menu-button-gold:active {
    color: black;
    text-decoration: none;
}

/* --- Services Layout --- */
div.average-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    border: 1px black solid;
    align-items: flex-start;

    padding: 0 140px 75px 140px;
}

.services-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: left;

    border: 1px black solid;
    max-width: 423px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-right: 10px;
}
.services-item-long {
    border: 1px black solid;
    max-width: 950px;
}


/* --- Actions Layout --- */
.actions-side-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    max-width: 475px;
    border: 1px black solid;
}
.actions-side-item {
    border: 1px black solid;
    max-width: 375px;
    margin: 0 0 30px 0;
}

/* --- Lines and Lists --- */
.gold-4px {
    height: 4px;
    /*border-width: 5px;*/
    /*color: #C99C54;*/
    background-color: #C99C54;
    width: 270px;
    margin: 0 0 16px 0;
}
.gold-2px {
    height: 2px;
    background-color: #C99C54;
    width: 200px;
}
ul {
    lighting-color: #C99C54;
}

/* --- Arrow Story Layout --- */
.arrow-story-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    min-width: 1055px;
    border: 1px black solid;
    padding: 0 140px 75px 140px;
}
.arrow-story-item {
    border: 1px black solid;
    min-width: 150px;
    justify-content: left;
}
.arrow-story-item-first {
    width: 158px;
}
.arrow-story-item-second {
    width: 178px;
}
.arrow-story-item-third {
    width: 397px;
}
.arrow-story-line {
    border: 1px black solid;
    flex-grow: 1;
    min-width: 5px;
}
.arrow-story-line-first {
    border: 1px black solid;
    flex-grow: 1;
    min-width: 20px;
    max-width: 100px;
}

/* --- Light Gray Title --- */

.light-flex-container {
    height: 189px;
    background: #F6F6F6;
    align-items: flex-start;
    justify-content: flex-end;

    padding: 0 140px 0 140px;
    flex-basis: auto;
}
.text-flex-item-left {
    text-align: right;
    padding-top: 27px;
    line-height: 51px;
}
/* --- Team ---*/
.team-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    border: 1px black solid;
    max-width: 428px;
    margin-top: 100px;
    /*margin-bottom: 35px;*/
}
h4.team {
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    padding-top: 30px;
    margin-bottom: 0;
}
h4.team-gold {
    text-align: center;
    font-size: 25px;
    font-family: "Source Serif Pro", "Arial", serif;
    font-weight: normal;
    color: #C99C54;
    line-height: 31px;

    margin-top: 6px;
    margin-bottom: 26px;
}
p.team {
    color: #8C8C8C;
    text-align: center;
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 23px;
    line-height: 29px;
    padding: 0 10px 0 10px;
}
.team-img {
    display: block;
    align-items: center;
    margin: 10px auto 0 auto;
}

/* --- Clients Logos --- */
.clients-logos-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    border: 1px black solid;
    padding: 50px 140px 75px 140px;
    min-height: 634px;
}
.client-logo-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    margin: 15px;

    border: 1px blue solid;
}

.logo-client-img {
    max-width: 100%;
    max-height: 90px;
    border: 1px black solid;

    filter:grayscale(100%);
}
img.logo-client-img:hover {
    filter:grayscale(0%);
}


