body {
    background: #FCFCFC;
}
.bg-alt {
    background: #F6F6F6;
}
/* Provides dynamic margin for a container */
.site-margin {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}


                                /* --- Navigation bar with logo --- */
#navbar-small-screen {
  display: none;
}

.flex-container-margin-140-140 {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 35px;
}

.navbar-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    align-items: center;
    padding-top: 39px;
    padding-bottom: 39px;
    /*border: 1px black solid;*/
}

.navbar-logo-flex-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /*border: 1px black solid;*/
}
.navbar-menu-flex-container {
    display: flex;
    flex-flow: wrap;
    flex-grow: 2;
    justify-content: center;

    align-items: flex-end;
    padding-top: 10px;
    /*border: 1px black solid;*/
}

.navbar-logo-flex-item {
    flex-shrink: 1;
    width: 300px;
}

.navbar-button-flex-item {
    font-family: "Segoe UI", "Arial", sans-serif;
    text-align: center;
    font-size: 25px;
    margin-left: 22px;
    margin-right: 22px;

    cursor: pointer;
}
.navbar-button-middle {
    /*margin-left: 22px;*/
    /*margin-right: 22px;*/
}


                                /* --- Menu buttons --- */
a.menu-button:link, a.menu-button:visited {
    color: black;
    text-decoration: none;
}
a.menu-button:hover, a.menu-button:active {
    color: #156E7A;
    text-decoration: none;
}
a.menu-button-kontakt:link, a.menu-button-kontakt:visited {
    color: #C99C54;
    text-decoration: none;
}
a.menu-button-kontakt:hover, a.menu-button-kontakt:active {
    color: #156E7A;
    text-decoration: none;
}
.v-down {
    display: block;
    align-items: center;
    margin: 10px auto 0 auto;
}
.v-up {
    display: block;
    align-items: center;
    margin: 0 auto 0 auto;
}



                                /* --- Parallax --- */
.parallax-window {
    min-height: 900px;
    background: transparent;
}
.parallax-window-narrow {
    min-height: 300px;
    background: transparent;
    margin-top: 35px;
    margin-bottom: 35px;
}


                                /* --- Black box --- */
.black-flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 100px 0 100px 140px;
    min-height: 560px;
    max-width: 764px;

    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 171px;
    /*border: 1px white solid;*/
}
.black-flex-item {
    max-width: 530px;
    /*border: 1px white solid;*/
}


                                /* --- Text --- */
.text-title {
    font-family: "Segoe UI, Bold", "Arial", sans-serif;
    text-align: left;
    color: black;
    line-height: 67px;
}

p.text-plain {
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 23px;
    line-height: 31px;
    text-align: left;
    color: black;
}
p.text-plain-white {
    font-size: 25px;
    color: white;
}


                                /* --- Headers --- */
h1 {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 35px;
}

h3 {
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 32px;
    line-height: 40px;
    color: black;

    margin-top: 70px;
    margin-bottom: 35px;
}
h4 {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 30px;
}



                                /* --- Colors --- */
.color-gold {
    color: #C99C54;;
}
.color-white {
    color: white;
}
.color-gray-light {
    color: #BFBFBF;
}
.color-gray {
    color: #97999B;
}
.color-gray-darker {
    color: #8C8C8C;
}



                                /* --- Gold button --- */
.button-gold {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 25px;
    text-align: center;

    padding: 6px 27px 11px;
    border-radius: 10px;
    color: white;
    background: #C99C54;
    box-shadow: 0 3px 6px #00000029;

    cursor: pointer;
}
.button-gold-flex-containter {
    text-align: center;
    height: 260px;
    padding-top: 101px;
    /*border: 1px black solid;*/
}

a.menu-button-gold:link, a.menu-button-gold:visited {
    color: white;
    text-decoration: none;
}
a.menu-button-gold:hover, a.menu-button-gold:active {
    color: black;
    text-decoration: none;
}


                                /* --- Workflow Layout --- */
div.basic-flex-container-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    padding-bottom: 35px;
    /*border: 1px black solid;*/
}
div.basic-flex-container-workflow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 35px;
    /*border: 1px black solid;*/
}
div.basic-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    padding-bottom: 35px;
    /*border: 1px black solid;*/
}
div.basic-flex-container-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    /*border: 1px red solid;*/
}
div.basic-flex-container-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    min-width: 475px;
    max-width: 475px;
    /*border: 1px red solid;*/
}

.services-item {
    max-width: 430px;
    padding-right: 20px;
    margin-top: 35px;

    /*border: 1px black solid;*/
}
.services-item-actions {
    flex-grow: 1;

    /*border: 1px black solid;*/
}
.services-item-long {
    flex-grow: 2;
    max-width: 100%;
    /*border: 1px black solid;*/
}



                                /* --- Actions Side Layout --- */
.actions-side-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 475px;
    /*border: 1px black solid;*/
}
.actions-side-item {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 30px 5px;
    /*border: 1px black solid;*/
}
.actions-side-image {
    display: block;
    align-self: flex-start;
    width: 55px;
    margin-right: 20px;
    /*border: 1px black solid;*/
}


                                /* --- Lines and Lists --- */
.gold-4px {
    height: 4px;
    width: 270px;
    background-color: #C99C54;
    margin: 0 0 16px 0;
}
.gold-2px {
    height: 2px;
    width: 200px;
    background-color: #C99C54;
}
ul {
    lighting-color: #C99C54;
}
.gold-long {
    height: 6px;
    background-color: #C99C54;
    margin: 0;
}

                                /* --- Arrow Carousel - wisible below 1081px --- */
.small-story-arrow-container {
    display: flex;
    flex-wrap: nowrap;
}
/* Position the image container (needed to position the left and right arrows) */
.container-slideshow {
  position: relative;
    display: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.slide-inner {
    max-width: 400px;
    min-height: 300px;
    padding: 30px;
    margin: auto;
    text-align: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
a.prev:link, a.next:link {
    color: #C99C54;
    text-decoration: none;
}
a.prev:hover, a.next:hover {
    color: #156E7A;
    text-decoration: none;
}
/* Next & previous buttons */
.prev,
.next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #C99C54;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /*border-radius: 3px 0 0 3px;*/
}



                                /* --- Arrow Story Layout - wisible only above 1080px! --- */
.arrow-story-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    min-width: 800px;
    padding: 0 0 75px 0;
    /*border: 1px black solid;*/
}
.arrow-img {
    display: block;
    align-items: center;
}
.arrow-img-narrow {
    display: block;
    align-items: center;
    width: 29px;
}
.arrow-story-item {
    min-width: 150px;
    justify-content: left;
    /*border: 1px black solid;*/
}
.arrow-story-item-first {
    width: 158px;
}
.arrow-story-item-second {
    width: 178px;
}
.arrow-story-item-third {
    width: 397px;
}
.arrow-story-line {
    flex-grow: 1;
    min-width: 5px;
    /*border: 1px black solid;*/
}
.arrow-middle-part {
    display: block;
    align-items: center;
    width: 100%;
    height: 119px;
}
.arrow-story-line-first {
    flex-grow: 1;
    min-width: 20px;
    max-width: 100px;
    /*border: 1px black solid;*/
}
.arrow-story-line-middle {
    flex-grow: 1;
    min-width: 20px;
    /*border: 1px black solid;*/
}
.arrow-story-padding {
    flex-grow: 1;
    min-width: 15px;
}
.arrow-dashed {
    flex-basis: 5px;
    background-repeat: repeat-x;
}


                                /* --- Light Gray Title --- */

.light-flex-container {
    flex-basis: auto;
    align-items: flex-start;
    justify-content: flex-end;

    /*min-height: 189px;*/
    background: #F6F6F6;
    padding: 27px 0 5px 0;
}
.text-flex-item-right {
    line-height: 51px;
    text-align: right;
}

                                /* --- Team ---*/
.team-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    max-width: 428px;
    margin-top: 100px;
    /*border: 1px black solid;*/
}
h4.team {
    font-family: "Segoe UI", "Arial", sans-serif;
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    padding-top: 30px;
    margin-bottom: 0;
}
h4.team-gold {
    font-family: "Source Serif Pro", "Arial", serif;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 31px;

    color: #C99C54;
    margin-top: 6px;
    margin-bottom: 26px;
}
p.team {
    font-family: "Source Serif Pro", "Arial", serif;
    text-align: center;
    font-size: 23px;
    line-height: 29px;

    color: #8C8C8C;
    padding: 0 10px 0 10px;
}
.team-img {
    margin: 10px auto 0 auto;
}


                                /* --- Clients Logos --- */
.clients-logos-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    min-height: 634px;
    padding: 50px 0 75px 0;
    /*border: 1px black solid;*/
}
.client-logo-item{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 250px;
    margin: 15px;

    /*border: 1px blue solid;*/
}

.logo-client-img {
    max-width: 100%;
    max-height: 90px;

    filter:grayscale(100%);
    /*border: 1px black solid;*/
}
img.logo-client-img:hover {
    filter:grayscale(0%);
}


                                /* --- Contact Form --- */

.backgroud-light-grey {
    display: flex;
    flex-flow: column wrap;
    background: #F6F6F6;
    padding: 0;
}

.contact-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;

    background: #F6F6F6;
    /*border: 1px black solid;*/
}
.contact-data-container {
    display: flex;
    /*flex-flow: column wrap;*/
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
    margin-top: 70px;

    /*border: 1px black solid;*/
}

.h2-write-us-medium {
    display: none;
}

.form-flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex-grow: 1;

    /*border: 1px black solid;*/
}
.form-label {
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.form-field {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px #156E7A solid;
    font-size: 20px;
    padding-left: 10px;
}
.form-field-textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px #156E7A solid;
    font-size: 20px;
    padding-left: 10px;
}
.form-send-btn {
    display: flex;
    justify-content: flex-end;
}
.button-gold-form {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 25px;
    text-align: center;

    padding: 0 45px 0 45px;

    margin-top: 41px;
    border-radius: 10px;
    color: white;
    background: #C99C54;
    box-shadow: 0 3px 6px #00000029;
    border: 0;

    cursor: pointer;
}
.form-data-text {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 30px;
    line-height: 40px;
    min-width: 385px;
    font-weight: normal;

    color: black;
    /*border: 1px darkblue solid;*/
}
.form-data-icon {
    width: 37px;
    margin-right: 10px;
}
.data-p-margin-bottom {
    margin-bottom: 70px;
}


                                /* --- RODO --- */
.rodo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 43px 0 0 0;

    /*border: 1px darkblue solid;*/
}

.rodo-text {
    flex-basis: 100%;
    font-size: 12px;
    /*max-width: 600px;*/
    padding: 0;

    width: 100%;
    border: 0 white solid;
    background-color: transparent;
}
.rodo-checkbox {
    /*width: 25px;*/
    /*height: 25px;*/
    /*background: #FFFFFF;*/
    /*border: 1px #156E7A solid;*/
    margin: 0 5px;
}

                                /* --- MAP --- */
.map-style {
    height: 660px;
}

                                /* --- Footer --- */


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background: #F6F6F6;
    min-height: 358px;
    padding: 40px 0 16px 0;

    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /*border: 1px red solid;*/
}

.footer-flex-data {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;

    /*border: 2px green solid;*/
}
.footer-flex-right {
    display: flex;
    align-items: flex-start;
    justify-content: right;

    width: auto;
    /*border: 2px green solid;*/
}

.footer-flex-item-logo{
    margin: 0 30px 60px 0;
    /*padding: 0 15px 0 15px;*/
    order: 1;

    /*border: 1px blue solid;*/
}
.footer-flex-item-info {
    margin-right: 25px;
    margin-bottom: 30px;
    /*margin: 0 25px 30px 0;*/
    /*padding: 0 15px 0 15px;*/
    order: 2;

    /*border: 1px blue solid;*/
}
.footer-flex-item-map {
    margin: 0 25px 30px 0;
    /*padding: 0 15px 0 15px;*/
    order: 3;

    /*border: 1px blue solid;*/
}

.footer-flex-item-right{
    width: 110px;
    text-align: center;

    /*border: 1px blue solid;*/
}

/* logo */
.footer-logo-square{
    width: 121px;
}
.footer-logo-long{
    height: 38px;
    display: none;
}

/* contact details */
.contact-h2 {
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 32px;
    line-height: 40px;

    color: black;
    margin-bottom: 23px;
}
.contact-h3 {
    font-family: "Source Serif Pro", "Arial", serif;
    font-size: 23px;
    line-height: 29px;

    color: black;
    margin-bottom: 26px;
}

/* site map */
.text-contact-map {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 22px;
    line-height: 40px;
    min-width: 162px;


    color: black;
}
.text-contact {
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 22px;
    line-height: 30px;
    min-width: 325px;

    color: black;
}
.contact-icon {
    width: 22px;
    margin-right: 10px;
}



/* Utils */
.filler-footer {
    flex-grow: 1;
    max-width: 10px;
}

