/* --- For screens up to 1080px wide ---*/

.services-item {
    max-width: 500px;
    padding: 0 10px 0 10px;
    margin: 20px auto;
}
 /* -------------------------------------- Workflow Layout */


div.basic-flex-container-workflow {
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 0;
}


.services-item-actions {
    max-width: 500px;
}
.services-item-long {
    flex-grow: 1;
    max-width: 500px;
}

 /* -------------------------------------- Form */

.contact-flex-container {
    justify-content: flex-start;
}
.contact-data-container {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    order: 1;
}
/* this one starts here and smaller... */
.h2-write-us-medium {
    display: contents;
    margin-bottom: 130px;
}

.form-flex-container {
    order: 2;
}

 /* -------------------------------------- Map */
.map-style {
    height: 360px;
}

 /* -------------------------------------- Footer */

.footer-flex-item-info {
    order: 3;
}
.footer-flex-item-map {
    order: 2;
}