.bg-button-color {
    background: #F6F6F6;
}
:target::before {
  content: "";
  display: block;
  height: 50px; /* fixed header height*/
  margin: -50px 0 0; /* negative fixed header height */
}

/* --- For screens up to 600px wide ---*/

/* -------------------------------------- Style the navbar */
#navbar-sm-scr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  overflow: hidden;
  z-index: 10;
}
/* navigation for bigger screens */
.navbar-flex-container {
  display: none;
}
.navbar-logo-flex-container {
  display: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.nvb-sm-scr-container {
  height: 50px;
  width: 100%;
  padding: 12px 23px;
  box-shadow: 0 3px 6px 0 #00000029 ;
}

.bars-style {
    align-items: start;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.bars-style:link, .bars-style:visited {
    text-decoration: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
}
.bars-style:hover, .bars-style:active {
    text-decoration: none;
    font-size: 30px;
    color: #C99C54;
    cursor: pointer;
}

/* -------------------------------------- Black box container */
.parallax-window {
    min-height: 565px;
}
.parallax-window-narrow {
    min-height: 250px;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

.black-box {
    justify-content: center;
    min-height: 265px;
    /*max-width: 764px;*/

    position: relative;
    top: 300px;
}
.black-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
    min-height: 265px;
    padding: 0;
}

.black-flex-item {
  margin-top: 10px;
  margin-bottom: 10px;
    max-width: 380px;
}

                                /* --- Text --- */
.text-title {
    font-family: "Segoe UI, Bold", "Arial", sans-serif;
    text-align: center;
    color: black;
    line-height: 33px;
}
.text-list {
    font-size: 18px;
    line-height: 20px;
}



h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}
h3 {
    font-size: 20px;
    line-height: 25px;

    margin-top: 45px;
    margin-bottom: 15px;
}
h4 {
    font-size: 18px;
    line-height: 24px;

    margin-bottom: 12px;
}

                                /* --- Lines hr and Lists --- */
.gold-4px {
    height: 2px;
}
.gold-2px {
    height: 1px;
    width: 158px;
    margin: 5px auto;
}

p.text-plain {
    font-size: 16px;
    line-height: 21px;
}
p.text-plain-white {
    font-size: 17px;
    text-align: center;
}


                                /* --- Actions Side Layout --- */
.actions-side-container {
    max-width: 340px;
}
.actions-side-item {
    margin: 0 0 20px 5px;
}
.actions-side-image {
    width: 35px;
}
.slide-inner {
    max-width: 350px;
    min-height: 150px;
    padding: 30px;
    margin: auto;
    text-align: center;
}

                                /* --- Light Gray Title --- */

.text-flex-item-right {
    line-height: 27px;
}


                                /* --- Gold button --- */

.button-gold {
    font-size: 16px;
    padding: 5px 30px;
}
.button-gold-flex-containter {
    padding-top: 20px;
    padding-bottom: 55px;
    height: 40px;
}

                                /* --- Team ---*/
.team-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    max-width: 326px;
    margin-top: 50px;
}

h4.team {
    font-size: 20px;
    line-height: 27px;
    padding-top: 20px;
}
h4.team-gold {
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;

    margin-top: 6px;
    margin-bottom: 13px;
}
p.team {
    font-size: 16px;
    line-height: 20px;

    padding: 0 10px 0 10px;
}
.team-img {
    height: 158px;
    width: 158px;
}


                                /* --- Workflow Layout --- */
div.basic-flex-container-right {
    min-width: 0;
    max-width: 360px;
    /*border: 1px red solid;*/
}


                                /* --- Arrow Carousel - wisible below 1081px --- */
#carousel__slide2 {
    display: flex;
}

                                /* --- Clients Logos --- */
.logos-all-visible {
    display: none;
}
.logos-carousel-visible {
    display: block;
}
.clients-logos-container {
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: center;

    min-height: 130px;
    padding: 0;
    margin-bottom: 35px;
}
.client-logo-item{
    width: auto;
    margin: 5px;
}

.logo-client-img {
    max-width: 120px;
    max-height: 80px;

    filter:grayscale(100%);
}

                                /* --- Contact Form --- */
.contact-data-container {
    height: 100%;
    margin-top: 30px;
}

.form-data-text {
    font-size: 18px;
    line-height: 21px;
    min-width: 180px;
    font-weight: normal;
}
.form-data-icon {
    width: 20px;
}
.data-p-margin-bottom {
    margin-bottom: 20px;
}
.h2-write-us-medium {
    display: block;
    margin-bottom: 20px;
}
/* form */
.form-label {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    margin-top: 20px;
}
.form-field {
    height: 30px;
    background: #FFFFFF;
    border: 1px #156E7A solid;
    font-size: 16px;
    padding-left: 10px;
}
.form-field-textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px #156E7A solid;
    font-size: 20px;
    padding-left: 10px;
}
/* button 'send' */
.button-gold-form {
    font-size: 16px;
    text-align: center;
    padding: 5px 30px;
    margin-top: 26px;
}

                                /* --- Footer --- */
.footer-logo-long{
    width: 166px;
    display: block;
}
.footer-logo-square{
    display: none;
}

/* 'up' arrow */
.text-contact {
    font-size: 14px;
    line-height: 20px;
    /*min-width: 325px;*/
}
.text-contact-footer {
    font-size: 16px;
    line-height: 21px;
    min-width: 300px;
}

.footer-flex-data {
    display: flex;
    flex-flow: column wrap;
    min-width: 200px;
}
.footer-flex-item-right{
    width: 60px;
}

/* contact headlines */
.contact-h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 12px;
}
.contact-h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 12px;
}

/* site map */
.text-contact-map {
    font-size: 16px;
    line-height: 30px;
    min-width: 142px;
}


                                /* --- Curtain menu --- */
#myNav {
    display: block;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #C99C54;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #156E7A;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  /*top: 20px;*/
  right: 20px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


