<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        @font-face {
            font-family: "Source Serif Pro";
            src: url("{% static "/landing_page/fonts/SourceSerifPro-Regular.ttf" %}");
        }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'landing_page/main.css' %}" type="text/css"/>
    <link rel="stylesheet" media="screen and (max-width: 1080px)" href="{% static 'landing_page/medium.css' %}"
          type="text/css"/>
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'landing_page/small.css' %}"
          type="text/css"/>

    <title>CGConsulting</title>

    <link rel="icon" type="image/png" href="/media/favicon.png"/>

</head>


<body>

<!-- ****** Curtain menu - visible for SMALL screens ****** -->
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="{% url 'home' %}" onclick="closeNav()">{{ menu_home.translation }}</a>
        <a href="{% url 'home' %}#{{ menu_services.id }}" onclick="closeNav()">{{ menu_services.translation }}</a>
        <a href="{% url 'home' %}#{{ menu_team.id }}" onclick="closeNav()">{{ menu_team.translation }}</a>
        <a href="{% url 'home' %}" onclick="closeNav()">{{ menu_career.translation }}</a>
        <a href="{% url 'home' %}#{{ menu_contact.id }}" onclick="closeNav()">{{ menu_contact.translation }}</a><br/>
        <a href="{{ lang_href }}">{{ menu_language.translation }}</a>
    </div>
</div>
<!-- ******  ******  ******  -->

<!-- ****** Navbar sticky - visible for SMALL screens ****** -->

    <div id="navbar-sm-scr" class=" nvb-sm-scr-container site-margin sticky">
        <a href="{% url 'home' %}">
            <img src="/media/logoCGC_long_color.svg" alt="logo CGC" width="157"/>
        </a>
        <span onclick="openNav()" class="bars-style">&#9776;</span>
    </div>
<!-- ******  ******  ******  -->


<!-- ****** Navbar - visible for BIG and MEDIUM screens ****** -->
    <header id="start" class="site-margin navbar-flex-container">

            <!-- Navbar logo -->
        <div class="navbar-logo-flex-container">
            <div class="navbar-logo-flex-item">
                <a href="{% url 'home' %}">
                    <img src="/media/logoCGC_long_color.svg" alt="logo CGC" width="299"/>
                </a>
            </div>
        </div>
            <!-- Navbar menu -->
        <div class="navbar-menu-flex-container">
            <div class="navbar-button-flex-item"><a class="menu-button" href="#start">{{ menu_start.translation }}</a></div>
            <div class="navbar-button-flex-item navbar-button-middle">
                <a class="menu-button" href="{% url 'home' %}#{{ menu_services.id }}">{{ menu_services.translation }}</a>
            </div>
            <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button"
                                                                         href="{% url 'home' %}#{{ menu_workflow.id }}">{{ menu_workflow.translation }}</a>
            </div>
            <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'home' %}#{{ menu_team.id }}">{{ menu_team.translation }}</a>
            </div>
            <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button"
                                                                         href="{% url 'home' %}#{{ menu_clients.id }}">{{ menu_clients.translation }}</a>
            </div>
            <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button-kontakt"
                                                                         href="{% url 'home' %}#{{ menu_contact.id }}">{{ menu_contact.translation }}</a>
            </div>
            <div class="navbar-button-flex-item"><a class="menu-button" href="{{ lang_href }}">{{ lang_next }}</a></div>
        </div>
    </header>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/media/turbine.jpg" data-position-y="-100px">
<!-- Czarny obszar na turbinie - Black box -->
        <div class="black-box">
            <div class="site-margin">
                <div class="black-flex-container">

                    <div class="text-title black-flex-item">
                        <h1 class="color-white">{{ opening_headline_white.translation }}</h1>
                        <h1 class="color-gold">{{ opening_headline_gold.translation }}</h1>
                    </div>

                    <div class="black-flex-item">
                        <p class="text-plain text-plain-white ">{{ opening_text.translation }}</div>

                    <div class="black-flex-item">
                        <a href="#{{ menu_services.id }}" class="button-gold menu-button-gold">{{ opening_button.translation }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#{{ menu_services.id }}">
        <img class="v-down" src="/media/v-sign-down.svg" alt="przejdź dalej">
    </a>


<!-- Our Services - Nasze Usługi -->
    <h3 class="site-margin" id="{{ menu_services.id }}"><b class="color-gold">|</b> {{ chapter_services.translation }}</h3>
    <h2 class="site-margin">{{ headline_serv_part1.translation }}<br/>{{ headline_serv_part2.translation }}</h2>

    <div class="basic-flex-container-services site-margin">
        {% for item in services_items %}
            <div class="services-item">
                <hr class="gold-4px">
                <h4>{{ item.headline }}</h4>
                <p class="text-plain">{{ item.content }}</p>
            </div>
        {% endfor %}
     </div>

<!-- parallax Blue -->
    <div class="parallax-window-narrow" data-parallax="scroll" data-image-src="/media/spaceship.jpg"></div>


<!-- Jak działamy - Our Workflow -->
    <h3 class="site-margin" id="{{ menu_workflow.id }}"><b class="color-gold">|</b> {{ chapter_workflow.translation }}</h3>
    <h2 class="site-margin">
        {{ headline_work_part1.translation }}<br/>
        <span class="color-gold">
            {{ headline_work_part2.translation }}
        </span>
    </h2>

    <div class="basic-flex-container-workflow site-margin">
        <div class="basic-flex-container-left">

            <!-- 01 -->
            <div class="services-item services-item-actions">
                <hr class="gold-4px">
                <h4>
                    <span class="color-gold">1. </span>
                    {{ work1_head_black.translation }}<br/>
                    <span class="color-gold">{{ work1_head_gold.translation }}</span>
                </h4>
                <p class="text-plain">{{ work1_content.translation }}</p>
            </div>

            <!-- 02 -->
            <div class="services-item services-item-actions">
                <hr class="gold-4px">
                <h4>
                    <span class="color-gold">2. </span>
                    {{ work2_head_black.translation }}
                    <span class="color-gold">{{ work2_head_gold.translation }}</span>
                </h4>
                <p class="text-plain">{{ work2_content.translation }}</p>
            </div>

            <!-- 03 -->
            <div class="services-item services-item-long">
                <hr class="gold-4px">
                <h4>
                    <span class="color-gold">3. </span>
                    {{ work3_head_black.translation }}
                    <span class="color-gold">{{ work3_head_gold.translation }}</span>
                </h4>
                <p class="text-plain">{{ work3_content.translation }}</p>
            </div>
        </div>

        <!-- Ikony z opisami - icons with text -->
        <div class="basic-flex-container-right">
            <div class="services-item actions-side-container">

                <!-- time -->
                <div class="actions-side-item">
                    <img class="actions-side-image" src="/media/ikona_czas.svg" alt="ikona zegarka">
                    <div>
                        <p class="text-plain">
                            <b>{{ work_point1_head.translation }}</b><br/>
                            {{ work_point1_text.translation }}
                        </p>
                    </div>
                </div>

                <!-- docs -->
                <div class="actions-side-item">
                    <img class="actions-side-image" src="/media/ikona_dokumenty.svg" width="55px" alt="ikona dokumentów">
                    <div>
                        <p class="text-plain">
                            <b>{{ work_point2_head.translation }}</b><br/>
                            {{ work_point2_text.translation }}
                        </p>
                    </div>
                </div>

                <!-- coins -->
                <div class="actions-side-item">
                    <img class="actions-side-image" src="/media/ikona_pieniądze.svg" width="55px">
                    <div>
                        <p class="text-plain">
                            <b>{{ work_point3_head.translation }}</b><br/>
                            {{ work_point3_text.translation }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!-- ****** Arrow Carousel - visible for MEDIUM and SMALL screens ****** -->

    <!-- Container for the image gallery -->
    <div id="carousel__slide2" class="carousel-root" style="min-height: 300px">

        <a class="prev" onclick="plusSlides('carousel__slide2', -1)">&#10094;</a>

        <div class="carousel-items">

            <!-- First arrow part -->
            <div class="carousel-item">
                <div class="small-story-arrow-container">
                    <div class="arrow-story-line-middle">
                        <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                    </div>

                    <img src="/media/arrow-first-mid.png" class="arrow-img-narrow"/>

                    <div class="arrow-story-line">
                        <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                    </div>
                </div>
                <!-- Text -->
                <div class="slide-inner">
                    <h4>{{ workflow_item01.title }}</h4>
                    <ul class="text-list">
                        <li>{{ workflow_item01.point01 }}</li>
                        {% if workflow_item01.point02 %}
                            <li>{{ workflow_item01.point02 }}</li>
                        {% endif %}
                        {% if workflow_item01.point03 %}
                            <li>{{ workflow_item01.point03 }}</li>
                        {% endif %}
                        {% if workflow_item01.point04 %}
                            <li>{{ workflow_item01.point04 }}</li>
                        {% endif %}
                        {% if workflow_item01.point05 %}
                            <li>{{ workflow_item01.point05 }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- Second arrow part -->
            <div class="carousel-item">
                <div class="small-story-arrow-container">
                    <div class="arrow-story-line-middle">
                        <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                    </div>

                    <img src="/media/arrow-second-mid.png" class="arrow-img-narrow"/>

                    <div class="arrow-story-line">
                        <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                    </div>
                </div>
                <!-- Text -->
                <div class="slide-inner">
                    <h4>{{ workflow_item02.title }}</h4>
                    <ul class="text-list">
                        <li>{{ workflow_item02.point01 }}</li>
                        {% if workflow_item02.point02 %}
                            <li>{{ workflow_item02.point02 }}</li>
                        {% endif %}
                        {% if workflow_item02.point03 %}
                            <li>{{ workflow_item02.point03 }}</li>
                        {% endif %}
                        {% if workflow_item02.point04 %}
                            <li>{{ workflow_item02.point04 }}</li>
                        {% endif %}
                        {% if workflow_item02.point05 %}
                            <li>{{ workflow_item02.point05 }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- Third arrow part -->
            <div class="carousel-item">

                <div class="small-story-arrow-container">
                    <img src="/media/arrow-line.png" width="24px" height="119px"/>
                   <div class="arrow-story-line-middle">
                       <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                   </div>
                    <div class="arrow-story-line-middle">
                       <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                   </div>

                    <img src="/media/arrow-third-mid.png" class="arrow-img-narrow"/>

                    <div class="arrow-story-line">
                        <img src="/media/arrow-line.png" class="arrow-middle-part"/>
                    </div>

                    <div class="arrow-story-line arrow-dashed" style="background-image: url('/media/arrow-pattern-dashed.png')">
                    </div>

                    <img src="/media/arrow-end.png" width="24px"/>


                </div>
                <!-- Text -->
                <div class="slide-inner">
                    <h4>{{ workflow_item03.title }}</h4>
                    <ul class="text-list">
                        <li>{{ workflow_item03.point01 }}</li>
                        {% if workflow_item03.point02 %}
                            <li>{{ workflow_item03.point02 }}</li>
                        {% endif %}
                        {% if workflow_item03.point03 %}
                            <li>{{ workflow_item03.point03 }}</li>
                        {% endif %}
                        {% if workflow_item03.point04 %}
                            <li>{{ workflow_item03.point04 }}</li>
                        {% endif %}
                        {% if workflow_item03.point05 %}
                            <li>{{ workflow_item03.point05 }}</li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="next" onclick="plusSlides('carousel__slide2', 1)">&#10095;</a>

    </div>
<!-- ****** ****** ****** -->


<!-- ****** Arrow Static Graphic - visible for BIG screens ****** -->

    <div class="arrow-story-container">

        <!-- first -->
        <div class="arrow-story-padding">
            <img src=""/>
        </div>

        <div class="arrow-story-line-first">
            <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
        </div>

        <div class="arrow-story-item arrow-story-item-first">
            <img src="/media/arrow-first.png" style="display: block; align-items: center;"/>
            <h4>{{ workflow_item01.title }}</h4>
            <ul>
                <li>{{ workflow_item01.point01 }}</li>
                {% if workflow_item01.point02 %}
                    <li>{{ workflow_item01.point02 }}</li>
                {% endif %}
                {% if workflow_item01.point03 %}
                    <li>{{ workflow_item01.point03 }}</li>
                {% endif %}
                {% if workflow_item01.point04 %}
                    <li>{{ workflow_item01.point04 }}</li>
                {% endif %}
                {% if workflow_item01.point05 %}
                    <li>{{ workflow_item01.point05 }}</li>
                {% endif %}
            </ul>
        </div>

        <!-- second -->
        <div class="arrow-story-line">
            <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
        </div>

        <div class="arrow-story-item arrow-story-item-second">
            <img src="/media/arrow-second.png" style="display: block; align-items: center;"/>
            <h4>{{ workflow_item02.title }}</h4>
            <ul>
                <li>{{ workflow_item02.point01 }}</li>
                {% if workflow_item02.point02 %}
                    <li>{{ workflow_item02.point02 }}</li>
                {% endif %}
                {% if workflow_item02.point03 %}
                    <li>{{ workflow_item02.point03 }}</li>
                {% endif %}
                {% if workflow_item02.point04 %}
                    <li>{{ workflow_item02.point04 }}</li>
                {% endif %}
                {% if workflow_item02.point05 %}
                    <li>{{ workflow_item02.point05 }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="arrow-story-line">
            <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
        </div>

        <!-- third -->
        <div class="arrow-story-item arrow-story-item-third">
            <img src="/media/arrow-third.png" style="display: block; align-items: center;"/>
            <h4>{{ workflow_item03.title }}</h4>
            <ul>
                <li>{{ workflow_item03.point01 }}</li>
                {% if workflow_item03.point02 %}
                    <li>{{ workflow_item03.point02 }}</li>
                {% endif %}
                {% if workflow_item03.point03 %}
                    <li>{{ workflow_item03.point03 }}</li>
                {% endif %}
                {% if workflow_item03.point04 %}
                    <li>{{ workflow_item03.point04 }}</li>
                {% endif %}
                {% if workflow_item03.point05 %}
                    <li>{{ workflow_item03.point05 }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="arrow-story-padding">
            <img src=""/>
        </div>
    </div>
<!-- ****** ****** ****** -->


<!-- light-gray bar Costs -->
    <div class="bg-alt">
        <div class="light-flex-container site-margin">
            <h2 class="text-flex-item-right">
                {{ headline_cost_black.translation }}<br/>
                <span class="color-gray">{{ headline_cost_gray.translation }}</span>
                <span class="color-gold">{{ headline_cost_gold.translation }}</span>
            </h2>
        </div>
    </div>

<!-- gold Button Contact -->
    <div class="bg-button-color">
        <div class="site-margin">
            <div id="contact-gold-button" class="button-gold-flex-containter">
                <a href="mailto:cgajda@cg-consulting.pl" class="button-gold menu-button-gold">
                    {{ cost_contact_button.translation }}
                </a>
            </div>
        </div>
    </div>

<!-- parallax Gray -->
    <div class="parallax-window-narrow" data-parallax="scroll" data-image-src="/media/grayboard.jpg"></div>

<!-- Team -->
    <h3 class="site-margin" id="{{ menu_team.id }}"><b>|</b> {{ chapter_team.translation }}</h3>
    <h2 class="site-margin">{{ headline_team.translation }}</h2>

    <div class="basic-flex-container site-margin">
        {% for member in team_members %}
            <div class="team-item">
                <img class="team-img" src="{{ member.image.url }}" alt="team member photo">
                <h4 class="team">{{ member.name }}</h4>
                <hr class="gold-2px">
                <h4 class="team-gold">{{ member.role }}</h4>
                <p class="team">{{ member.description }}</p>
            </div>
        {% endfor %}
    </div>

<!-- Our Clients -->
    <h3 class="site-margin" id="{{ menu_clients.id }}"><b class="color-gold">|</b>
        {{ chapter_clients.translation }}
    </h3>
    <h2 class="site-margin">
        <span class="color-gold">
            {{ headline_clients_gold.translation }}
        </span>
        {{ headline_clients_black.translation }}<br/>
        <span class="color-gray-darker">
            {{ headline_clients_gray.translation }}
        </span>
    </h2>


<!-- ****** Logos images - visible on BIG and MEDIUM screens ****** -->

    <span class="logos-all-visible">

        <div class="clients-logos-container site-margin">
            {% for logo in clients_logos %}
                <div class="client-logo-item">
                    <img class="logo-client-img" src="{{ logo.image.url }}">
                </div>
            {% endfor %}
        </div>

    </span>
<!-- ****** ****** ****** -->


<!-- ****** Logos carousel - visible on SMALL screens ****** -->

    <span class="logos-carousel-visible">

        <!-- Container for the image gallery -->
        <div id="carousel__slide3" class="carousel-root" >

            <!-- Next button -->
            <a class="prev" onclick="plusSlides('carousel__slide3', -1)">&#10094;</a>

            <div class="carousel-items">

                {% for logos in clients_logos_small %}
                    <div class="carousel-item">
                        <div class="clients-logos-container">
                            <div class="client-logo-item">
                                <img class="logo-client-img" src="{{ logos.logo1.image.url }}">
                            </div>
                            <div class="client-logo-item">
                                {% if logos.logo2.image.url %}
                                    <img class="logo-client-img" src="{{ logos.logo2.image.url }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <!-- Prev button -->
            <a class="next" onclick="plusSlides('carousel__slide3', 1)">&#10095;</a>
        </div>

    </span>
<!-- ******  ******  ****** -->


<!-- Horizontal long line -->
    <hr id="{{ menu_contact.id }}" class="gold-long">


<!-- Contact Form -->
    <div class="backgroud-light-grey">
        <h3 class="site-margin"><b class="color-gold">|</b>{{ chapter_contact.translation }}</h3>
        <h2 class="site-margin">{{ headline_contact.translation }}</h2>
    </div>
    <div class="bg-alt">
        <div class="contact-flex-container site-margin">

            <form class="form-flex-container" action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <h2 class="h2-write-us-medium ">{{ form_write_us.translation }}</h2>
                    <label class="form-label" for="sender-name">
                        {{ form_name.translation}}
                    </label><br/>
                    <input class="form-field" id="sender-name" type="text" name="sender-name" value="" required
                           minlength="3" maxlength="80"><br/>
                    <label class="form-label" for="sender-email">
                        {{ form_email.translation }}
                    </label><br/>
                    <input class="form-field" id="sender-email" type="email" name="sender-email" value=""
                           required minlength="3" maxlength="254"><br/>
                    <label class="form-label" for="sender-message">
                        {{ form_message.translation }}
                    </label><br/>
                    <textarea class="form-field-textarea" name="sender-message" rows="5" cols="30" required
                              minlength="3"></textarea>

                    <!-- RODO -->
                    <div class="rodo-container">
                        <input id="rodo" class="rodo-checkbox" type="checkbox" name="rodo-terms" value="True"
                               required>

                        <textarea class="rodo-text" rows="5" disabled>{{ form_consent.translation }}</textarea>

                    </div>

                </fieldset>
                <div class="form-send-btn">
                    <input class="button-gold-form" type="submit" value="{{ form_button.translation }}">
                </div>

            </form>

            <div class="contact-data-container">
                <div class="form-data-text">
                    <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/tel.png"> {{ icon_phone.translation }}</p>
                    <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/mail.png">
                        {{ icon_mail.translation }}</p>
                    <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/place.png">
                        {{ icon_address_p1.translation }}<br/>
                        <img class="form-data-icon p-waw" src="" width="21">
                        {{ icon_address_p2.translation }}
                    </p>
                </div>
            </div>
        </div>
    </div>


<!-- Map -->
    <div id="demoMap" class="map-style"></div>
    <script src={% static "/landing_page/osm/OpenLayers.js" %}></script>
    <script>
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position = new OpenLayers.LonLat(21.00943, 52.23483).transform(fromProjection, toProjection);
        var zoom = 18;

        map = new OpenLayers.Map("demoMap", {controls: []});
        map.addLayer(new OpenLayers.Layer.OSM());
        map.setCenter(position, zoom);

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        nav = new OpenLayers.Control.Navigation({'zoomWheelEnabled': false});
        // nav.disableZoomWheel()
        map.addControl(nav);

        var panel = new OpenLayers.Control.Zoom();
        map.addControl(panel);

    </script>

    <hr class="gold-long">

<!-- Footer -->
    <div class="bg-alt">
        <footer id="footer" class="site-margin footer-container">

            <div class="footer-flex-data">
                <!-- logo -->
                <div class="footer-flex-item-logo">
                    <a href="{% url 'home' %}">
                        <img class="footer-logo-square" src="/media/logoCGC_square_color.svg" alt="logo CG-consulting">
                        <!-- or long -->
                        <img class="footer-logo-long" src="/media/logoCGC_long_color.svg" alt="logo CG-consulting">
                    </a>
                </div>

                <!-- contact info -->
                <div class="footer-flex-item-info">
                    <div class="contact-h2"><span class="color-gold">|</span> {{ chapter_footer.translation }}</div>
                    <div class="text-contact-footer">
                        <p class="contact-p"><img class="contact-icon" src="/media/tel.png" alt="numer telefonu"> {{ footer_phone.translation }}</p>
                        <p class="contact-p"><img class="contact-icon" src="/media/mail.png" alt="e-mail"> {{ footer_mail.translation }}</p>
                        <p class="contact-p"><img class="contact-icon" src="/media/place.png" alt="adres"> {{ footer_address_p1.translation }}</p>
                        <p class="contact-p p-waw">{{ footer_address_p2.translation }}</p>
                    </div>
                </div>

                <!-- roadmap -->
                <div class="footer-flex-item-map">
                    <div class="contact-h3"><span class="color-gold">|</span> {{ footer_webmap.translation }}</div>
                    <p class="text-contact-map">
                        <a class="menu-button" href="{% url 'home' %}">{{ footer_start.translation }}</a><br/>
                        <a class="menu-button" href="{% url 'home' %}#{{ menu_services.id }}">{{ footer_services.translation }}</a><br/>
                        <a class="menu-button" href="{% url 'home' %}#{{ menu_team.id }}">{{ footer_team.translation }}</a><br/>
                        <a class="menu-button" href="#">{{ footer_career.translation }}</a><br/>
                        <a class="menu-button" href="{% url 'home' %}#{{ menu_contact.id }}">{{ footer_contact.translation }}</a><br/>
                    </p>
                </div>

            </div>

            <!-- arrow up -->
            <div class="footer-flex-right">
                <div class="footer-flex-item-right">
                    <a class="menu-button" href="{% url 'home' %}">
                        <img class="v-up" src="/media/v-sign-up.svg" alt="wróć na start"/>
                    </a>
                    <a class="text-contact menu-button" href="{% url 'home' %}">{{ footer_up.translation }}</a>
                </div>
            </div>

        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="{% static "landing_page/js/carousel.js" %}"></script>
    <script src="{% static "landing_page/js/parallax/parallax.js" %}"></script>

    <!-- Curtain Menu -->
    <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
    </script>

</body>
</html>