<!doctype html>
{% load static %}
<html lang="en">
      <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <style>
                @font-face {
                    font-family: "Source Serif Pro";
                    src: url("{% static "/landing_page/fonts/SourceSerifPro-Regular.ttf" %}");
                }
            </style>

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'landing_page/main.css' %}" type="text/css" />

            <title>CGConsulting</title>
      </head>


      <body>

            <header id="go_to_start" class="navbar-flex-container">
                <!-- Navbar logo -->
                <div class="navbar-logo-flex-container">
                    <div class="navbar-logo-flex-item"><img src="/media/logoCGC_long_color.svg" alt="logo CGC" style="width:299px;" /></div>
                </div>
                <!-- Navbar menu -->
                <div class="navbar-menu-flex-container">
                    <div class="navbar-button-flex-item"><a class="menu-button" href="#go_to_start">START</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'home' %}#go_to_uslugi">USŁUGI</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'home' %}#go_to_jak_dzialamy">JAK DZIAŁAMY</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'home' %}#go_to_team">TEAM</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'home' %}#go_to_klienci">KLIENCI</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button-kontakt" href="{% url 'home' %}#go_to_kontakt">KONTAKT</a></div>
                    <div class="navbar-button-flex-item"><a class="menu-button" href="#">EN</a></div>
                </div>
            </header>


            <div class="parallax-window" data-parallax="scroll" data-image-src="/media/turbine.jpg" data-position-y="-100px">

                <!-- Black box -->
                <div class="black-flex-container">
                    <div class="black-flex-item text-title">
                        <h1 class="color-white">Inspiruj swój biznes</h1>
                        <h1 class="color-gold">i zaskocz konkurencję</h1>
                    </div>

                    <div class="black-flex-item">
                        <p class="text-plain text-plain-white ">Jakiekolwiek wyzwanie biznesowe czy technologiczne masz, pomożemy rozwijać Twoją firmę.</p>
                    </div>

                    <div class="black-flex-item">
                        <a href="#go_to_uslugi" class="button-gold menu-button-gold">Sprawdź ofertę</a>
                    </div>
                </div>

            </div>

            <a href="#go_to_uslugi">
                <img src="/media/v-sign.png" width="26px" style="display: block; align-items: center; margin: 10px auto 0 auto"/>
            </a>


            <!-- Services part -->
            <h3 id="go_to_uslugi"><b class="color-gold">|</b> NASZE USŁUGI</h3>
            <h2>Rozwiązania szyte na miarę<br /> dla Twojego biznesu</h2>

            <div class="average-flex-container">
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Rozwój nowych produktów</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Rozwój działalności</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Outsourcing</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Transformacja cyfrowa</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Usługi konsultacji</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Usługi IT</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
            </div>

            <!-- parallax Blue -->
            <div class="parallax-window-narrow" data-parallax="scroll" data-image-src="/media/spaceship.jpg"></div>



           <!-- Actions part -->
            <h3 id="go_to_jak_dzialamy"><b class="color-gold">|</b> JAK DZIAŁAMY</h3>
            <h2>Rozwiązania szyte na miarę<br /> dla Twojego biznesu</h2>

            <div class="average-flex-container">
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>
                        <span class="color-gold">1. </span>
                        Nawiązanie kontaktu <span class="color-gold">rozpoczęciem współpracy</span>
                    </h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>

                <div class="services-item">
                    <hr class="gold-4px">
                    <h4>
                        <span class="color-gold">2. </span>
                        Propozycja <span class="color-gold">działań </span>
                    </h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>

                <div class="services-item actions-side-container">
                    <div class="actions-side-item">
                        <img src="/media/ikona_czas.svg" width="55px">
                    </div>
                    <div class="actions-side-item">
                        <p class="text-plain"><b>Horyzont czasowy</b><br />(punkt odniesienia) 3-4 miesiące (zależy od zakresu)</p>
                    </div>
                    <div class="actions-side-item">
                        <img src="/media/ikona_dokumenty.svg" width="55px">
                    </div>
                    <div class="actions-side-item">
                        <p class="text-plain"><b>Dokumenty</b><br />podpisanie NDA oraz umowy o współpracy</p>
                    </div>
                    <div class="actions-side-item">
                        <img src="/media/ikona_pieniądze.svg" width="55px">
                    </div>
                    <div class="actions-side-item">
                        <p class="text-plain"><b>Horyzont czasowy</b><br />(punkt odniesienia) 3-4 miesiące (zależy od zakresu)</p>
                    </div>
                </div>

                <div class="services-item services-item-long">
                    <hr class="gold-4px">
                    <h4>
                        <span class="color-gold">3. </span>
                        Stopniowe i sprawne <span class="color-gold">wdrożenie </span>
                    </h4>
                    <p class="text-plain">Stopniowe wdrażanie wybranych rozwiązań pozwala na potwierdzenie ich
                        przydatności i pomaga wypracować zysk na dalszy rozwój oraz utrzymanie. Ponadto, zmniejsza
                        ich koszt inicjalny, a stała współpraca wpływa na pozytywny rozwój projektu i identyfikację
                        nowych obszarów współpracy.</p>
                </div>
            </div>

            <!-- Arrow graphic -->
            <div class="arrow-story-container">

                <div class="arrow-story-padding">
                    <img src=""/>
                </div>

                <div class="arrow-story-line-first">
                    <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
                </div>

                <div class="arrow-story-item arrow-story-item-first">
                    <img src="/media/arrow-first.png" style="display: block; align-items: center;"/>
                    <h4>Raczkowanie</h4>
                    <ul>
                        <li>MVP sprzedaż</li>
                        <li>Wskazanie sukcesu</li>
                    </ul>
                </div>

                <div class="arrow-story-line">
                    <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
                </div>

                <div class="arrow-story-item arrow-story-item-second">
                    <img src="/media/arrow-second.png" style="display: block; align-items: center;"/>
                    <h4>Chodzenie</h4>
                    <ul>
                        <li>Koncentracja na podstawach umożliwiających zwiększenie zysku</li>
                    </ul>
                </div>

                <div class="arrow-story-line">
                    <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
                </div>

                <div class="arrow-story-item arrow-story-item-third">
                    <img src="/media/arrow-third.png" style="display: block; align-items: center;"/>
                    <h4>Bieg</h4>
                    <ul>
                        <li>Dalszy rozwój produktu</li>
                        <li>Wprowadzenie nowych rozwiązań</li>
                        <li>Poprawa wydajności</li>
                        <li>Wprowadzenie usprawnień w innych obszarach, aby wypracować kolejne korzyści biznesowe</li>
                    </ul>
                </div>

                <div class="arrow-story-padding">
                    <img src=""/>
                </div>
            </div>

            <!-- light-gray bar Costs -->
            <div class="light-flex-container">
                <h2 class="text-flex-item-right">
                    Ile to kosztuje?<br/>
                    <span class="color-gray">Wynagrodzenie pochodzi z </span>
                    <span class="color-gold">utworzonego zysku</span>
                </h2>
            </div>

            <!-- gold Button Contact -->
            <div class="button-gold-flex-containter">
                <a href="mailto:cgajda@cg-consulting.pl" class="button-gold menu-button-gold">Skontaktuj się z nami</a>
            </div>

            <!-- parallax Gray -->
            <div class="parallax-window-narrow" data-parallax="scroll" data-image-src="/media/grayboard.jpg"></div>

            <!-- Team -->
            <h3 id="go_to_team"><b>|</b> NASZ ZESPÓŁ</h3>
            <h2>Kim jesteśmy?</h2>

            <div class="average-flex-container">
                <div class="team-item">
                    <img class="team-img" src="/media/cyprian.jpg" height="200" width="200">
                    <h4 class="team">Cyprian</h4>
                    <hr class="gold-2px">
                    <h4 class="team-gold">CEO • BUSINESS FAIRY</h4>
                    <p class="team">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor.</p>
                </div>
                <div class="team-item">
                    <img class="team-img" src="/media/joanna.jpg" height="200" width="200">
                    <h4 class="team">Joanna</h4>
                    <hr class="gold-2px">
                    <h4 class="team-gold">SENIOR SOFTWARE DEVELOPER</h4>
                    <p class="team">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor.</p>
                </div>
                <div class="team-item">
                    <img class="team-img" src="/media/aleksander.jpg" height="200" width="200">
                    <h4 class="team">Aleksander</h4>
                    <hr class="gold-2px">
                    <h4 class="team-gold">HEAD OF EMBEDDED SOFTWARE</h4>
                    <p class="team">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor.</p>
                </div>
            </div>

            <!-- Our Clients -->
            <h3 id="go_to_klienci"><b class="color-gold">|</b>NASI KLIENCI</h3>
            <h2>
                <span class="color-gold">+7 lat </span>inspirującej działalności<br />
                <span class="color-gray-darker">z markami własnymi, firmami i projektami powierzonymi</span>
            </h2>

            <div class="clients-logos-container">
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/RestHostel.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/wisniowa_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/amg_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/ronin_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/pirs_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/MZ.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/iot_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/kawepale.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/MZ.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/econsulting.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/schneider.png">
                </div>
            </div>

            <hr class="gold-long">


            <!-- Contact Form -->
            <div id="go_to_kontakt" class="backgroud-light-grey">
                <h3><b class="color-gold">|</b>KONTAKT</h3>
                <h2>Skontaktuj się z nami</h2>
            </div>

            <div class="contact-flex-container">

                <form class="form-flex-container" action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% if status %}
                            {{ status }}
                        {% endif %}
                        <label class="form-label" for="sender">Imię i nazwisko</label><br/>
                        <input class="form-field" id="sender" type="text" name="sender-name" value="" required minlength="3" maxlength="80"><br/>
                        <label class="form-label" for="sender">Email</label><br/>
                        <input class="form-field" id="sender" type="email" name="sender-email" value="" required minlength="3" maxlength="254"><br/>
                        <label class="form-label" for="sender" >Wiadomość</label><br/>
                        <textarea class="form-field-textarea" name="message" rows="10" cols="30" required minlength="3"></textarea>
                    </fieldset>
                    <div class="form-send-btn">
                        <input class="button-gold-form" type="submit" value="Wyślij">
                    </div>

                </form>

                <div class="contact-data-container">
                    <div class="form-data-text">
                        <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/tel.png"> +48 601 406 149</p>
                        <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/mail.png"> cgajda@cg-consulting.pl</p>
                        <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/place.png"> Marszałkowska 126/134<br/>
                        <img class="form-data-icon" src="" width="21">
                        00-008 Warszawa</p>
                    </div>
                </div>
            </div>




            <!-- Map -->
            <div id="demoMap" style="height:660px"></div>
            <script src={% static "/landing_page/osm/OpenLayers.js" %}></script>
            <script>
                var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
                var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
                var position       = new OpenLayers.LonLat(21.01,52.235).transform( fromProjection, toProjection);
                var zoom           = 18;

                map = new OpenLayers.Map("demoMap", { controls: [] });
                map.addLayer(new OpenLayers.Layer.OSM());
                map.setCenter(position, zoom);

                var markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                markers.addMarker(new OpenLayers.Marker(position));

                nav = new OpenLayers.Control.Navigation({ 'zoomWheelEnabled': false });
                {#nav.disableZoomWheel()#}
                map.addControl(nav);

                var panel = new OpenLayers.Control.Zoom();
                map.addControl(panel);

            </script>

            <hr class="gold-long">


            <footer class="footer-container">

                <div class="footer-flex-data">

                    <div class="footer-flex-item">
                        <img src="/media/logoCGC_square_color.svg" width="121">
                    </div>

                    <div class="footer-flex-item">
                        <div class="contact-h2">|KONTAKT</div>
                        <div class="text-contact">
                            <p><img class="contact-icon" src="/media/tel.png"> +48 601 406 149</p>
                            <p><img class="contact-icon" src="/media/mail.png"> cgajda@cg-consulting.pl</p>
                            <p><img class="contact-icon" src="/media/place.png"> Marszałkowska 126/134<br/>
                            <img class="contact-icon" src="" width="21">
                            00-008 Warszawa</p>
                        </div>
                    </div>

                    <div class="footer-flex-item">
                        <div class="contact-h3"><span class="color-gold">|</span>MAPA STRONY</div>
                        <p class="text-contact-map">
                            Start<br/>
                            Usługi<br/>
                            Nasz zespół<br/>
                            Kariera<br/>
                            Kontakt<br/>
                        </p>
                    </div>

                </div>

            </footer>


            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="{% static "landing_page/js/parallax/parallax.min.js" %}"></script>
      </body>
</html>