<!doctype html>
{% load static %}
<html lang="en">
      <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <style>
                @font-face {
                    font-family: "Source Serif Pro";
                    src: url("{% static "/landing_page/fonts/SourceSerifPro-Regular.ttf" %}");
                }
            </style>

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'landing_page/main.css' %}" type="text/css" />

            <title>CGConsulting</title>
      </head>


      <body>

            <header id="start" class="navbar-flex-container">
<!-- Navbar logo -->
                <div class="navbar-logo-flex-container">
                    <div class="navbar-logo-flex-item">
                        <a href="{% url 'en_home' %}">
                            <img src="/media/logoCGC_long_color.svg" alt="logo CGC" style="width:299px;" />
                        </a>
                    </div>
                </div>
<!-- Navbar menu -->
                <div class="navbar-menu-flex-container">
                    <div class="navbar-button-flex-item"><a class="menu-button" href="#start">START</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'en_home' %}#services">SERVICES</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'en_home' %}#workflow">OUR WORKFLOW</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'en_home' %}#team">TEAM</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button" href="{% url 'en_home' %}#clients">CLIENTS</a></div>
                    <div class="navbar-button-flex-item navbar-button-middle"><a class="menu-button-kontakt" href="{% url 'en_home' %}#contact">CONTACT</a></div>
                    <div class="navbar-button-flex-item"><a class="menu-button" href="{% url 'home' %}">PL</a></div>
                </div>
            </header>


            <div class="parallax-window" data-parallax="scroll" data-image-src="/media/turbine.jpg" data-position-y="-100px">

<!-- Black box -->
                <div class="black-flex-container">
                    <div class="black-flex-item text-title">
                        <h1 class="color-white">Inspire your business</h1>
                        <h1 class="color-gold">and surprise the competition</h1>
                    </div>

                    <div class="black-flex-item">
                        <p class="text-plain text-plain-white ">Whatever business or technological challenge you have, we will help you grow your business.</p>
                    </div>

                    <div class="black-flex-item">
                        <a href="#services" class="button-gold menu-button-gold">Check the offer</a>
                    </div>
                </div>

            </div>

            <a href="#services">
                <img src="/media/v-sign.png" class="v-down" alt="go to serivces" width="26px"/>
            </a>


<!-- Services part -->
            <h3 id="services"><b class="color-gold">|</b> OUR SERVICES</h3>
            <h2>Tailored solutions<br />for your business</h2>

            <div class="average-flex-container">
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Development of new products</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Business development</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Outsourcing</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Digital transformation</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>Consulting services</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>IT services</h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>
            </div>

<!-- parallax Blue -->
            <div class="parallax-window-narrow" data-parallax="scroll" data-image-src="/media/spaceship.jpg"></div>



<!-- Actions part -->
            <h3 id="workflow"><b class="color-gold">|</b> OUR WORKFLOW</h3>
            <h2>How can you improve <br /><span class="color-gold">your business</span></h2>

            <div class="average-flex-container">
                <div class="services-item">
                     <hr class="gold-4px">
                    <h4>
                        <span class="color-gold">1. </span>
                        Establishing contact<br/>
                        <span class="color-gold">means starting cooperation</span>
                    </h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>

                <div class="services-item">
                    <hr class="gold-4px">
                    <h4>
                        <span class="color-gold">2. </span>
                        Proposal<span class="color-gold"> for actions</span>
                    </h4>
                    <p class="text-plain">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor. Sed do eiusmod tempor incididun.</p>
                </div>

                <div class="services-item actions-side-container">
                    <div class="actions-side-item">
                        <img src="/media/ikona_czas.svg" width="55px" alt="clock icon">
                    </div>
                    <div class="actions-side-item">
                        <p class="text-plain"><b>Time horizon</b><br />(baseline) 3-4 months (depends on the range)</p>
                    </div>
                    <div class="actions-side-item">
                        <img src="/media/ikona_dokumenty.svg" width="55px" alt="documents icon">
                    </div>
                    <div class="actions-side-item">
                        <p class="text-plain"><b>Documents</b><br />signing the NDA and the cooperation agreement</p>
                    </div>
                    <div class="actions-side-item">
                        <img src="/media/ikona_pieniądze.svg" width="55px" alt="coins icon">
                    </div>
                    <div class="actions-side-item">
                        <p class="text-plain"><b>Cost</b><br />Consultations are financed from the profit earned</p>
                    </div>
                </div>

                <div class="services-item services-item-long">
                    <hr class="gold-4px">
                    <h4>
                        <span class="color-gold">3. </span>
                        Gradual and smooth <span class="color-gold">implementation</span>
                    </h4>
                    <p class="text-plain">The gradual implementation of selected solutions allows you to confirm
                        their usefulness and helps to generate profit for further development and maintenance.
                        In addition, it reduces their initial cost, and constant cooperation affects the positive
                        development of the project and identification of new areas of cooperation.</p>
                </div>
            </div>

<!-- Arrow graphic -->
            <div class="arrow-story-container">

                <div class="arrow-story-padding">
                    <img src=""/>
                </div>

                <div class="arrow-story-line-first">
                    <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
                </div>

                <div class="arrow-story-item arrow-story-item-first">
                    <img src="/media/arrow-first.png" style="display: block; align-items: center;"/>
                    <h4>Crawling</h4>
                    <ul>
                        <li>MVP sale</li>
                        <li>Indication of success</li>
                    </ul>
                </div>

                <div class="arrow-story-line">
                    <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
                </div>

                <div class="arrow-story-item arrow-story-item-second">
                    <img src="/media/arrow-second.png" style="display: block; align-items: center;"/>
                    <h4>Walking</h4>
                    <ul>
                        <li>Focus on the basics to increase your profit</li>
                    </ul>
                </div>

                <div class="arrow-story-line">
                    <img src="/media/arrow-line.png" style="display: block; align-items: center; width: 100%; height: 119px;"/>
                </div>

                <div class="arrow-story-item arrow-story-item-third">
                    <img src="/media/arrow-third.png" style="display: block; align-items: center;"/>
                    <h4>Running</h4>
                    <ul>
                        <li>Further product development</li>
                        <li>Introducing new solutions</li>
                        <li>Performance improvement</li>
                        <li>Introducing improvements in other areas to generate further business benefits</li>
                    </ul>
                </div>

                <div class="arrow-story-padding">
                    <img src=""/>
                </div>
            </div>

<!-- light-gray bar Costs -->
            <div class="light-flex-container">
                <h2 class="text-flex-item-right">
                    How much it costs?<br/>
                    <span class="color-gray">Remuneration comes from</span>
                    <span class="color-gold">the generated profit</span>
                </h2>
            </div>

<!-- gold Button Contact -->
            <div class="button-gold-flex-containter">
                <a href="mailto:cgajda@cg-consulting.pl" class="button-gold menu-button-gold">Contact us</a>
            </div>

<!-- parallax Gray -->
            <div class="parallax-window-narrow" data-parallax="scroll" data-image-src="/media/grayboard.jpg"></div>

<!-- Team -->
            <h3 id="team"><b>|</b> OUR TEAM</h3>
            <h2>Who we are?</h2>

            <div class="average-flex-container">
                <div class="team-item">
                    <img class="team-img" src="/media/cyprian.jpg" height="200" width="200">
                    <h4 class="team">Cyprian</h4>
                    <hr class="gold-2px">
                    <h4 class="team-gold">CEO • BUSINESS FAIRY</h4>
                    <p class="team">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor.</p>
                </div>
                <div class="team-item">
                    <img class="team-img" src="/media/joanna.jpg" height="200" width="200">
                    <h4 class="team">Joanna</h4>
                    <hr class="gold-2px">
                    <h4 class="team-gold">SENIOR SOFTWARE DEVELOPER</h4>
                    <p class="team">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor.</p>
                </div>
                <div class="team-item">
                    <img class="team-img" src="/media/aleksander.jpg" height="200" width="200">
                    <h4 class="team">Aleksander</h4>
                    <hr class="gold-2px">
                    <h4 class="team-gold">HEAD OF EMBEDDED SOFTWARE</h4>
                    <p class="team">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolor.</p>
                </div>
            </div>

<!-- Our Clients -->
            <h3 id="clients"><b class="color-gold">|</b> OUR CLIENTS</h3>
            <h2>
                <span class="color-gold">+7 years </span>of inspirational business<br />
                <span class="color-gray-darker">with private brands, companies and entrusted projects</span>
            </h2>

            <div class="clients-logos-container">
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/RestHostel.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/wisniowa_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/amg_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/ronin_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/pirs_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/MZ.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/iot_color.svg">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/kawepale.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/bluesoft.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/econsulting.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/schneider.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/oppscience.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/japonia.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/acg_models.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/boscaff.png">
                </div>
                <div class="client-logo-item">
                    <img class="logo-client-img" src="/media/Logos/vwv.png">
                </div>
            </div>

            <hr class="gold-long">


<!-- Contact Form -->
            <div id="contact" class="backgroud-light-grey">
                <h3><b class="color-gold">|</b> CONTACT</h3>
                <h2>Let's get in touch</h2>
            </div>

            <div class="contact-flex-container">

                <form class="form-flex-container" action="{% url 'en_home' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <label class="form-label" for="sender-name">Full name</label><br/>
                        <input class="form-field" id="sender-name" type="text" name="sender-name" value="" required minlength="3" maxlength="80"><br/>
                        <label class="form-label" for="sender-email">Email</label><br/>
                        <input class="form-field" id="sender-email" type="email" name="sender-email" value="" required minlength="3" maxlength="254"><br/>
                        <label class="form-label" for="sender-message" >Message</label><br/>
                        <textarea class="form-field-textarea" name="sender-message" rows="10" cols="30" required minlength="3"></textarea>

        <!-- RODO -->
                        <div class="rodo-container">
                            <input id="rodo" class="rodo-checkbox" type="checkbox" name="rodo-terms" value="True" required>

                            <textarea class="rodo-text" rows="5" disabled>I consent to the processing of my personal data in order to answer my questions via the contact form.
If my question concerns the Administrator's commercial offer, I consent to the sending of commercial information by electronic means and using telecommunications end devices (by e-mail or by phone).
                                The data administrator is CG-consulting sp.z o.o. with headquarters in Bydgoszcz (85-034), ul. Długa 16, entered into the National Register of Entrepreneurs kept by the District Court in ??? under the number KRS 0000794990, NIP 9532769007, REGON 383889583.</textarea>
                        </div>

                    </fieldset>
                    <div class="form-send-btn">
                        <input class="button-gold-form" type="submit" value="Send">
                    </div>

                </form>

                <div class="contact-data-container">
                    <div class="form-data-text">
                        <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/tel.png"> +48 601 406 149</p>
                        <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/mail.png"> cgajda@cg-consulting.pl</p>
                        <p class="data-p-margin-bottom"><img class="form-data-icon" src="/media/place.png"> Marszałkowska 126/134<br/>
                        <img class="form-data-icon" src="" width="21">
                        00-008 Warsaw, Poland</p>
                    </div>
                </div>
            </div>




<!-- Map -->
            <div id="demoMap" style="height:660px"></div>
            <script src={% static "/landing_page/osm/OpenLayers.js" %}></script>
            <script>
                var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
                var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
                var position       = new OpenLayers.LonLat(21.00943,52.23483).transform( fromProjection, toProjection);
                var zoom           = 18;

                map = new OpenLayers.Map("demoMap", { controls: [] });
                map.addLayer(new OpenLayers.Layer.OSM());
                map.setCenter(position, zoom);

                var markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                markers.addMarker(new OpenLayers.Marker(position));

                nav = new OpenLayers.Control.Navigation({ 'zoomWheelEnabled': false });
                {#nav.disableZoomWheel()#}
                map.addControl(nav);

                var panel = new OpenLayers.Control.Zoom();
                map.addControl(panel);

            </script>

            <hr class="gold-long">


<!-- Footer -->
            <footer class="footer-container">

                <div class="footer-flex-data">

                    <div class="footer-flex-item">
                        <a href="{% url 'en_home' %}"><img src="/media/logoCGC_square_color.svg" width="121" alt="CG-consulting logo"></a>
                    </div>

                    <div class="footer-flex-item">
                        <div class="contact-h2">| CONTACT</div>
                        <div class="text-contact">
                            <p><img class="contact-icon" src="/media/tel.png" alt="phone number"> +48 601 406 149</p>
                            <p><img class="contact-icon" src="/media/mail.png" alt="email"> cgajda@cg-consulting.pl</p>
                            <p><img class="contact-icon" src="/media/place.png" alt="address"> Marszałkowska 126/134<br/>
                            <span style="padding-left: 38px">00-008 Warszawa, Poland</span></p>
                        </div>
                    </div>

                    <div class="footer-flex-item">
                        <div class="contact-h3"><span class="color-gold">|</span> WEBSITE MAP</div>
                        <p class="text-contact-map">
                            <a class="menu-button" href="{% url 'en_home' %}">Start</a><br/>
                            <a class="menu-button" href="{% url 'en_home' %}#services">Services</a><br/>
                            <a class="menu-button" href="{% url 'en_home' %}#team">Our Team</a><br/>
                            <a class="menu-button" href="#">Career</a><br/>
                            <a class="menu-button" href="{% url 'en_home' %}#contact">Contact</a><br/>
                        </p>
                    </div>

                </div>

                <div class="footer-flex-right">
                    <div class="footer-flex-item-right">
                        <a class="menu-button" href="{% url 'home' %}">
                            <img class="v-up" src="/media/v-sign-up.png" width="26px" alt="wróć na start"/>
                        </a>
                        <a class="text-contact menu-button" href="{% url 'home' %}">Do góry</a>
                    </div>
                </div>

            </footer>


            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="{% static "landing_page/js/parallax/parallax.min.js" %}"></script>
      </body>
</html>